.App {
  text-align: center;
}

.buttons {
  padding: 50px;
  align-items: center;
  justify-content: center;
}
 button {
  padding: 20px;
  margin: 10px;
  width: 100%;
  border: none;
  margin-left: -5px;
  position: relative;
  border-radius: 10px;
}